body {
    background-image: url("../images/backgrounds/general_blue_1.jpg");
	margin: auto;
}

.jumbotron{
    background-color: #0185a1;
    padding: auto;
    margin:0px;

}

.jumbotron #firstname {
    color: white;
    font-size: 100px;
    font-family: 'Days One', sans-serif;
    margin: 0px;
    padding: 0px;
}

.jumbotron #lastname {
    color: black;
    font-size: 100px;
    font-family: 'Days One', sans-serif;
    margin: 0px;
    padding: 0px;
}

.subtitle{
    color:#c2d5e6;
}

.fab{
    font-size: 3em;
	float: right;
    margin-left: 5px;
    color: #c2d5e6;
}

#home{
    margin:0px;
}

#selfpic{
	float: left;
    border-image-width: 5px;
    border-color: #0185a1;
    border-style: solid;
    width: 375px;
    height: 475px;
}

.about p {
    float: left;
    font-size: 20px;
}

.skills{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #d4e5f6;
}

#skills{
    background-color: #d4e5f6;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
   }

h1{
    padding-top: 30px;
    padding-bottom: 30px;
}

li{
    font-weight: 400;
    font-size: 20px;
}

#portfolio{
    background-image: url("../images/backgrounds/general_blue_1.jpg");
}

.projectName h3{
    padding-top: 30px;
    align-items: inherit;
	
}
.projectName h4{
    padding-top: 30px;
  	
}

.projectImg img {
	border-style: solid;
	border-color: #7D7B75;
    border-width: 2px;
    width: 550px;
    height: 400px;
}
.projectImg .col-4 {
	text-align: center;
}

.projectBtn{
	text-align: center;

}

button{
	margin: .5em;
}


.col-4 h5{
	text-align: right;
}

footer{
	color: white;
	background-color: #0185a1;
	padding-top:20px;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
}

h6 {
font-size: 30px;
}
p {
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #selfpic{
        position: center;
        border-image-width: 5px;
        border-color: #0185a1;
        border-style: solid;
        width: 475px;
        height: 475px;
    }
     p {
         width: auto;
     }
     .jumbotron #firstname {
        color: white;
        font-size: 100px;
        font-family: 'Days One', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    
    .jumbotron #lastname {
        color: black;
        font-size: 100px;
        font-family: 'Days One', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    .container{
        width: auto;
        height: auto;
        position: inherit;
       }
       [class*="col-4"] {
        width: 100%;
      }   
  }

